<h1>Tasks</h1>

<mat-list>
    <h3 matSubheader> {{(scheduledTasks$ | async)?.length}} Scheduled Tasks</h3>
    @for (scheduledTask of (scheduledTasks$ | async); track scheduledTask) {
    <mat-list-item>
        <mat-icon matListItemIcon>{{mapIcon(scheduledTask.type)}}</mat-icon>
        <span matListItemTitle>{{mapType(scheduledTask.type)}}</span>
        <span matListItemLine>Id: {{ scheduledTask.id }}</span>
        // template content to repeat
    </mat-list-item>
    }
    <h3 matSubheader> {{(completedTasks$ | async)?.length}} Completed Tasks</h3>
    @for (completedTask of (completedTasks$ | async); track completedTask) {
    <mat-list-item>
        <mat-icon matListItemIcon>{{mapIcon(completedTask.type)}}</mat-icon>
        <span matListItemTitle>{{mapType(completedTask.type)}}</span>
        <span matListItemLine>Id: {{ completedTask.id }}</span>
    </mat-list-item>
    }
</mat-list>